
  @import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@400;900&display=swap');
  .container
  {display:flex;
  flex-direction:column;
  /* border-right: 0.1px solid rgba(0,0,0,0.2); */
}
  cards{
                
                margin: 1%;
                margin-right: 51%;
                font-family: 'Noto Serif KR', serif;
                font-weight: 400;
                font-size: 1.2rem;
                /* width:45%;  */
                display: inline-block;
                border:0.1px solid rgba(0,0,0,0.2);
               
               
                /* margin-top: 10px; */
                padding:2%;
                box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
                flex-basis: 150px;
                /* flex-grow: 1; */
              }
           /* cards:nth-child(){
            flex-basis: 200px;
           }
           */
          
           cards2{
            margin: 1%;
            margin-left: 51%;
            font-family: 'Noto Serif KR', serif;
            font-weight: 400;
            font-size: 1.2rem;
            
            display: inline-block;
            border:0.1px solid rgba(0,0,0,0.2);
        
            padding:2%;
            box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
            flex-basis: 150px;
           
          }
          
     
       
        .centerA {
            text-align: center;
            font-weight: 900;
            font-size: 1.2rem;
        
        }
        .centerB {
          text-align: center;
          font-weight: 400;
          font-size: 0.8rem;
          font-style: italic;
      
      }

     
       