html, body {
    margin: 0;
    padding: 0;
    text-align: center;
}
button{
   
	width:120px;
	height: 40px;
	color:#fff;
	background: #000000;
	font-size: 16px;
	border:none;
	border-radius: 20px;
	box-shadow: 0 4px 16px rgba(0,0,0,0.3);
	transition:0.3s;
	position: absolute;
	
	transform: translate(-50%,-50%);
}
button:focus {
	outline:0;
}
button:hover{
	background: rgba(0,0,0,0.9);
	cursor: pointer;
	box-shadow: 0 2px 4px rgba(0,0,0,0.6);
}
.upperBox{
    margin-top: 50px;
}
.container{
    text-align: center;
    margin-top: 60px;
    margin-bottom: 40px;
}
.card-box{
    position: relative;
    border-radius: 11px;
    overflow: hidden;
    display: inline-block;
    width:100%;
    max-width: 221px;
    height:404px;
    box-shadow: 0 20px 35px rgba(0,0,0,0.26);
}
.img-gradient{
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.8));
    z-index: 1;
    transition: 0.3s ease;
}
.card-box:hover .img-gradient{
    opacity: 1;
}
.card-box:hover .text-wrap{
    opacity: 1;
}
.card-box:hover{
    box-shadow: 0 3px 4px rgba(0,0,0,0.5);
    transform: scale(0.95);
    transition: 0.3s;
}
.card-box img{
    width:inherit;
    height:inherit;
}
.text-wrap{
    opacity: 0;
    position: absolute;
    bottom: 0;
    padding: 24px;
    z-index: 2;
}
.text-wrap h1{

    color:#FFF;
    font-size: 24px;
    margin-bottom: 8px;
    font-weight: bold;
}
.text-wrap p{

    color: #FFF;
    font-size: 11px;
    line-height: 1.5;
}

#layout0, #layout1, #layout2, #reLoad{
    display: none;
}
